body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00274C; /* Azul noche oscuro */
    color: #fff; /* Texto blanco para buena visibilidad */
  }
  
  nav {
    background-color: #194868; /* Azul más claro para la navegación */
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #fff;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #555; /* Borde gris claro para contraste */
    border-radius: 5px;
    background-color: #194868; /* Azul más claro para el formulario */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }