h1 {
    font-family: 'Lucida Console', Monaco, monospace; /* Tipografía del título */
    font-size: 36px; /* Tamaño de la fuente */
    color: #f56403; /* Color del texto */
    text-align: center; /* Alineación del texto */
    text-transform: uppercase; /* Transformar texto a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin: 20px 0; /* Margen superior e inferior */
    padding: 10px; /* Relleno interior */
    border-bottom: 2px solid #efa158; /* Línea inferior */
    background-color: #e6e3e3; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
}
